DATABASE_URL=postgresql_psycopg://username:password@localhost:5432/dbname
CLERK_WEBHOOK_SECRET=
CLERK_SECRET_KEY=
CLERK_JWKS_URL=https://your-clerk-frontend-api/.well-known/jwks.json
CLERK_ISSUER=https://your-clerk-frontend-api
CLERK_AUTHORIZED_PARTIES=http://localhost:3000,http://127.0.0.1:3000
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
